._card {
    padding: 24px;
    background-color: var(--White);
    border: 1px solid var(--Gray-200);
    border-radius: 8px;
}

.content-wrapper {
    max-width: 1156px;
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

.vacansies-container {
    display: grid;
    gap: 28px;
    grid-template-columns: 315px auto;
    padding-bottom: 40px;
}

.vacansies__search-input {
    margin-bottom: 16px;
}

.vacansies__search-input input[type="text"] {
    padding: 0;
    padding-left: 3.125rem;
    font-family: 'Inter-Regular';
    font-size: 14px;
    line-height: 21px;
    color: var(--Black);
    border-width: 1px;
}

.vacansies__search-input input::placeholder {
    color: var(--Gray-500);
}

.vacancies__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.vacancy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 773px;
    padding-bottom: 51px;
}

.vacancy__description p {
    font-family: "Inter-Regular";
    font-size: 16px;
    line-height: 22px;
    color: var(--Black);
}

.vacancy__description b {
    font-family: "Inter-Bold";
    font-size: 20px;
    line-height: 20px;
    color: var(--Black);
}

.favorite-list {
    max-width: 773px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
