.header-container {
    background-color: var(--White);
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    height: 84px;
    max-width: 1146px;
    background-color:var(--White);
    padding: 0 20px;
    gap: 280px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    gap: 12px;
}

.logo__icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.ellipse {
    position: absolute;
    left: -5px;
    top: 7px;
    border-radius: 50%;
    background: var(--Blue-500-Main);
    width: 40px;
    height: 15.47px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ellipse-1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.ellipse-2 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}

.logo__title {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
}

.menu__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}

.menu__item {
    font-family: 'Inter-Regular';
    line-height: 20px;
}

.menu__item a {
    color: inherit;
    text-decoration: none;
    white-space: pre;
    padding: 5px 2px;
}

.menu__item a.active {
    color: var(--Blue-500-Main);
}
